<div class="top-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu">Test : By Peacock Infotech </li>
                <li class="topmenu company-name">Administrator (AMG)</li>
                <li class="topmenu active">Item Level Scheme Master</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-menu module-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu tooltip" (click)="onSubmit()"><img src="../../../assets/icons/save.png" alt="Save" class="save-icon"><span class="tooltiptext">SAVE</span></li>
                <li class="topmenu tooltip" (click)="downloadAsPDF()"><img src="../../../assets/icons/pdf.png" alt="PDF" class="pdf-icon"><span class="tooltiptext">PDF</span></li>
                <li class="topmenu tooltip" (click)="generateExcel()"><img src="../../../assets/icons/xls.png" alt="EXCEL" class="excel-icon"><span class="tooltiptext">EXCEL</span></li>
                <li class="topmenu tooltip" (click)="onReset()"><img src="../../../assets/icons/reset.png" alt="RESET" class="reset-icon"><span class="tooltiptext">RESET</span></li>
                <li class="topmenu tooltip"><img src="../../../assets/icons/exit.png" alt="EXIT" class="exit-icon" routerLink="/dashboard"><span class="tooltiptext">EXIT</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="itemLevelForm">
              <div class="head-1">
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Location: </label>
                      <div>
                        <input class="form-control" formControlName="loc_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Promo: </label>
                      <div>
                        <input class="form-control" formControlName="promo_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Item: </label>
                      <div>
                        <mat-form-field>
                          <mat-select formControlName="item_code" #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="Select" [formControl]="searchFilterCtrl" [preventHomeEndKeyPropagation]="true">
                                <span ngxMatSelectNoEntriesFound>
                                  No data found
                                </span>
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let val of search_data_arr | async" [value]="val.item_name">
                              {{val.item_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Batch: </label>
                      <div>
                        <input class="form-control" formControlName="batch_no">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                    <label class="center-block">Start Date Time: </label>
                    <div>
                        <input type="datetime-local" class="form-control" formControlName="from_date">
                    </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">End Date Time: </label>
                      <div>
                        <input type="datetime-local" class="form-control" formControlName="to_date">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">From Qty: </label>
                      <div>
                        <input class="form-control" formControlName="from_qty">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">To Qty: </label>
                      <div>
                        <input class="form-control" formControlName="to_qty">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Max Qty: </label>
                      <div>
                        <input class="form-control" formControlName="max_qty">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Fixed Rate: </label>
                      <div>
                        <input class="form-control" formControlName="disc_perc">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Disc Perc: </label>
                      <div>
                        <input class="form-control" formControlName="disc_amt">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Disc Amt: </label>
                      <div>
                        <input class="form-control" formControlName="fix_rate">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Calc On: </label>
                      <div>
                        <select name="" id="" formControlName="calc_on" class="form-control">
                            <option>MRP</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Cust Type Incl: </label>
                      <div>
                        <select name="" id="" formControlName="cust_type_incl" class="form-control">
                            <option>Regular</option>
                            <option>Family</option>
                            <option>Gold</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Cust Type Excl: </label>
                      <div>
                        <select name="" id="" formControlName="cust_type_excl" class="form-control">
                          <option>Regular</option>
                          <option>Family</option>
                          <option>Gold</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group"></div>
                    <div class="col-sm-2 form-group"></div>
                    <div class="col-sm-2 form-group"></div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="row-border hover" id="evaluator_table">
                <thead>
                    <tr>
                      <th width="25">Action</th>
                      <th>Location</th>
                      <th>Promo</th>
                      <th>Item</th>
                      <th>Batch</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>From Qty</th>
                      <th>To Qty</th>
                      <th>Max Qty</th>
                      <th>Fixed Rate</th>
                      <th>Status</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Updated By</th>
                      <th>Updated Date</th>
                    </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                    <tr *ngFor="let val of data">
                      <td class="text-center">
                        <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editItemLevelSchemeList(val._id)"> 
                          <span class="tooltiptext">EDIT</span>
                        </span>
                      </td>
                      <td>{{val.loc_code}}</td>
                      <td>{{val.promo_code}}</td>
                      <td>{{val.item_code}}</td>
                      <td>{{val.batch_no}}</td>
                      <td>{{val.from_date}}</td>
                      <td>{{val.to_date}}</td>
                      <td>{{val.from_qty}}</td>
                      <td>{{val.to_qty}}</td>
                      <td>{{val.max_qty}}</td>
                      <td>{{val.fix_rate}}</td>
                      <td>{{val.status}}</td>
                      <td>{{val.created_by}}</td>
                      <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
                      <td>{{val.updated_by}}</td>
                      <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="data?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>