<div class="top-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu">Test : By Peacock Infotech </li>
                <li class="topmenu company-name">Administrator (AMG)</li>
                <li class="topmenu active">Paramater Master</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-menu module-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu tooltip" (click)="onSubmit()"><img src="../../../assets/icons/save.png" alt="Save" class="save-icon"><span class="tooltiptext">SAVE</span></li>
                <li class="topmenu tooltip" (click)="downloadAsPDF()"><img src="../../../assets/icons/pdf.png" alt="PDF" class="pdf-icon"><span class="tooltiptext">PDF</span></li>
                <li class="topmenu tooltip" (click)="generateExcel()"><img src="../../../assets/icons/xls.png" alt="EXCEL" class="excel-icon"><span class="tooltiptext">EXCEL</span></li>
                <li class="topmenu tooltip" (click)="onReset()"><img src="../../../assets/icons/reset.png" alt="RESET" class="reset-icon"><span class="tooltiptext">RESET</span></li>
                <li class="topmenu tooltip"><img src="../../../assets/icons/exit.png" alt="EXIT" class="exit-icon" routerLink="/dashboard"><span class="tooltiptext">EXIT</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="parameterForm">
              <div class="row">
                <div class="col-sm-8">
                  <div class="head-1">
                    <div class="row">
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Code: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" formControlName="param_code" (keypress)="keyPressNumbersDecimal($event)" oninput="this.value = this.value.toUpperCase()" [readonly]='isEdit'>
                        </div>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Value: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" formControlName="param_value">
                        </div>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Description: <span class="mandatory-input">*</span></label>
                        <div>
                          <input class="form-control" appInitialCapInput formControlName="param_desc">
                        </div>
                      </div>
                      <div class="col-sm-2 form-group">
                        <label class="center-block">Data Type: <span class="mandatory-input">*</span></label>
                        <div>
                          <select class="form-control" formControlName="data_type">
                            <option>Select</option>
                            <option value="C">Character</option>
                            <option value="N">Number</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-2 form-group" *ngIf="isEdit">
                        <label class="center-block">Status: </label>
                        <div>
                          <select class="form-control" formControlName="status">
                            <option>Select</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" *ngIf="isEdit">
                  <div class="head-1">
                    <div class="row">
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created By: </label>
                        <div>
                          <input class="form-control" formControlName="created_by" readonly>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Created At: </label>
                        <div>
                          <input class="form-control" formControlName="created_at" readonly>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated By: </label>
                        <div>
                          <input class="form-control" formControlName="updated_by" readonly>
                        </div>
                      </div>
                      <div class="col-sm-3 form-group">
                        <label class="center-block">Updated At: </label>
                        <div>
                          <input class="form-control" formControlName="updated_at" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                          <th width="25">Action</th>
                          <th>Code</th>
                          <th>Value</th>
                          <th>Description</th>
                          <th>Data Type</th>
                          <th>Status</th>
                          <th>Created By</th>
                          <th>Created Date</th>
                          <th>Updated By</th>
                          <th>Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of data">
                            <td class="text-center">
                              <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editParameter(val._id)"> 
                                <span class="tooltiptext">EDIT</span>
                              </span>
                            </td>
                            <td>{{val.param_code}}</td>
                            <td>{{val.param_value}}</td>
                            <td>{{val.param_desc}}</td>
                            <td>{{val.data_type}}</td>
                            <td>{{val.status}}</td>
                            <td>{{val.created_by}}</td>
                            <td>{{val.created_at | date:'dd-MM-y HH:MM:SS'}}</td>
                            <td>{{val.updated_by}}</td>
                            <td>{{val.updated_at | date:'dd-MM-y HH:MM:SS'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="display-view" style="display: none;">
  <table class="table" id="table" #pdfTable>
    <thead>
      <tr>
        <th>Code</th>
        <th>Value</th>
        <th>Description</th>
        <th>Data Type</th>
        <th>Created By</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of data">
        <td>{{val.param_code}}</td>
        <td>{{val.param_value}}</td>
        <td>{{val.param_desc}}</td>
        <td>{{val.data_type}}</td>
        <td>{{val.created_by}}</td>
        <td>{{val.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<app-footer></app-footer>