<div class="main">
    <div class="row">
        <div class="col-sm-12" style="padding: 0;">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="companyForm">
                        <div class="row head-1">
                            <div class="col-sm-2 form-group">
                              <label class="center-block">City Name: </label>
                              <div>
                                <input class="form-control" formControlName="comp_name">
                              </div>
                            </div>
                            <div class="col-sm-2 form-group">
                              <label class="center-block">State Code: </label>
                              <div>
                                <input class="form-control" formControlName="std_code">
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" datatable >
                            <thead>
                                <tr>
                                  <th width="25">Action</th>
                                  <th>City</th>
                                  <th>State</th>
                                  <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of data">
                                    <td class="text-center">
                                      <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCompanyList(val._id)"> 
                                        <span class="tooltiptext">EDIT</span>
                                      </span>  | 
                                      <span class="tooltip"><img class="delete-icon" src="../../../assets/icons/delete.png" (click)="deleteCompanyList(val._id)"> 
                                        <span class="tooltiptext">DELETE</span>
                                      </span>
                                    </td>
                                    <td>{{val.country_code}}</td>
                                    <td>{{val.country_name}}</td>
                                    <td>{{val.country_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="display-view" style="display: none;">
  <table class="table" id="table" #pdfTable>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Page</th>
        <th>Parent Module</th>
        <th>Image</th>
        <th>Is Home</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of data">
        <td>{{val.module_code}}</td>
        <td>{{val.module_name}}</td>
        <td>{{val.module_slug}}</td>
        <td>{{val.parent_madule_code}}</td>
        <td>{{val.module_image}}</td>
        <td>{{val.is_home}}</td>
        <td>{{val.status}}</td>
        <td>{{val.created_by}}</td>
        <td>{{val.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>