<div class="top-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu">Test : By Peacock Infotech </li>
                <li class="topmenu company-name">Administrator (AMG)</li>
                <li class="topmenu active">Item Master</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-menu module-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu tooltip" (click)="onSubmit()"><img src="../../../assets/icons/save.png" alt="Save" class="save-icon"><span class="tooltiptext">SAVE</span></li>
                <li class="topmenu tooltip" (click)="downloadAsPDF()"><img src="../../../assets/icons/pdf.png" alt="PDF" class="pdf-icon"><span class="tooltiptext">PDF</span></li>
                <li class="topmenu tooltip" (click)="generateExcel()"><img src="../../../assets/icons/xls.png" alt="EXCEL" class="excel-icon"><span class="tooltiptext">EXCEL</span></li>
                <li class="topmenu tooltip" (click)="onReset()"><img src="../../../assets/icons/reset.png" alt="RESET" class="reset-icon"><span class="tooltiptext">RESET</span></li>
                <li class="topmenu tooltip"><img src="../../../assets/icons/exit.png" alt="EXIT" class="exit-icon" routerLink="/dashboard"><span class="tooltiptext">EXIT</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="companyForm">
              <div class="head-1">
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Item Code: </label>
                      <div>
                        <input class="form-control" formControlName="comp_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Item Name: </label>
                      <div>
                        <input class="form-control" formControlName="comp_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Inventory: </label>
                      <div>
                        <input class="form-control" formControlName="comp_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Weight: </label>
                      <div>
                        <input class="form-control" formControlName="std_code">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                    <label class="center-block">Unit: </label>
                    <div>
                        <input class="form-control" formControlName="std_code">
                    </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Regional Name: </label>
                      <div>
                        <input class="form-control" formControlName="phone">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Item Full Name: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Sub Category: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Category: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Brand: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Manufracturer: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Item Type: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Parent Item: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Pack Charge: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Tax(%): </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Label Reqd: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">QTY-IN-Case : </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">On MRP: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Mark Up(%): </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Mark Down(%): </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Rate Update: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">HSN No: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Expiry Reqd: </label>
                      <div>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Shelf Life: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Group 1: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Group 2: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Group 3: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Group 4: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group"></div>
                    <div class="col-sm-2 form-group"></div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable >
                    <thead>
                        <tr>
                          <th width="25">Action</th>
                          <th>Location</th>
                          <th>Promo</th>
                          <th>Item</th>
                          <th>Batch</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>From Qty</th>
                          <th>To Qty</th>
                          <th>Max Qty</th>
                          <th>Fixed Rate</th>
                          <th>Created By</th>
                          <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of data">
                            <td class="text-center">
                              <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCompanyList(val._id)"> 
                                <span class="tooltiptext">EDIT</span>
                              </span>  | 
                              <span class="tooltip"><img class="delete-icon" src="../../../assets/icons/delete.png" (click)="deleteCompanyList(val._id)"> 
                                <span class="tooltiptext">DELETE</span>
                              </span>
                            </td>
                            <td>{{val.module_code}}</td>
                            <td>{{val.module_name}}</td>
                            <td>{{val.module_slug}}</td>
                            <td>{{val.parent_madule_code}}</td>
                            <td>{{val.module_image}}</td>
                            <td>{{val.is_home}}</td>
                            <td>{{val.status}}</td>
                            <td>{{val.created_by}}</td>
                            <td>{{val.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="display-view" style="display: none;">
  <table class="table" id="table" #pdfTable>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Page</th>
        <th>Parent Module</th>
        <th>Image</th>
        <th>Is Home</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of data">
        <td>{{val.module_code}}</td>
        <td>{{val.module_name}}</td>
        <td>{{val.module_slug}}</td>
        <td>{{val.parent_madule_code}}</td>
        <td>{{val.module_image}}</td>
        <td>{{val.is_home}}</td>
        <td>{{val.status}}</td>
        <td>{{val.created_by}}</td>
        <td>{{val.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>