<div class="top-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu">Test : By Peacock Infotech </li>
                <li class="topmenu company-name">Administrator (AMG)</li>
                <li class="topmenu active">User Master</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-menu module-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu tooltip" (click)="onSubmit()"><img src="../../../assets/icons/save.png" alt="Save" class="save-icon"><span class="tooltiptext">SAVE</span></li>
                <li class="topmenu tooltip" (click)="downloadAsPDF()"><img src="../../../assets/icons/pdf.png" alt="PDF" class="pdf-icon"><span class="tooltiptext">PDF</span></li>
                <li class="topmenu tooltip" (click)="generateExcel()"><img src="../../../assets/icons/xls.png" alt="EXCEL" class="excel-icon"><span class="tooltiptext">EXCEL</span></li>
                <li class="topmenu tooltip" (click)="onReset()"><img src="../../../assets/icons/reset.png" alt="RESET" class="reset-icon"><span class="tooltiptext">RESET</span></li>
                <li class="topmenu tooltip"><img src="../../../assets/icons/exit.png" alt="EXIT" class="exit-icon" routerLink="/dashboard"><span class="tooltiptext">EXIT</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Code: </label>
                      <div>
                        <input class="form-control" formControlName="user_code" oninput="this.value = this.value.toUpperCase()">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">UserName: </label>
                      <div>
                        <input class="form-control" formControlName="user_name">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Password: </label>
                      <div>
                        <input type="password" class="form-control" formControlName="user_pass">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Role: </label>
                      <div>
                        <select class="form-control" formControlName="role">
                          <option>Select</option>
                          <option [value]="val.list_value" *ngFor="let val of roleData">{{val.list_desc}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Mobile: </label>
                      <div>
                        <input class="form-control" formControlName="mobile">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Email: </label>
                      <div>
                        <input class="form-control" formControlName="email">
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Status: </label>
                      <div>
                        <select class="form-control" formControlName="status">
                          <option value="Active" selected>Active</option>
                          <option value="Inactive">Inactive</option>
                        </select>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable >
                    <thead>
                        <tr>
                          <th width="25">Action</th>
                          <th>Code</th>
                          <th>Username</th>
                          <th>Role</th>
                          <th>Mobile</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th>Created By</th>
                          <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of data">
                            <td class="text-center">
                              <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editUserList(val._id)"> 
                                <span class="tooltiptext">EDIT</span>
                              </span>  | 
                              <span class="tooltip"><img class="delete-icon" src="../../../assets/icons/delete.png" (click)="deleteUserList(val._id)"> 
                                <span class="tooltiptext">DELETE</span>
                              </span>
                            </td>
                            <td>{{val.user_code}}</td>
                            <td>{{val.user_name}}</td>
                            <td>{{val.role}}</td>
                            <td>{{val.mobile}}</td>
                            <td>{{val.email}}</td>
                            <td>{{val.status}}</td>
                            <td>{{val.created_by}}</td>
                            <td>{{val.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="display-view" style="display: none;">
  <table class="table" id="table" #pdfTable>
    <thead>
      <tr>
        <th>Code</th>
        <th>Username</th>
        <th>Role</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of data">
        <td>{{val.user_code}}</td>
        <td>{{val.user_name}}</td>
        <td>{{val.role}}</td>
        <td>{{val.mobile}}</td>
        <td>{{val.email}}</td>
        <td>{{val.status}}</td>
        <td>{{val.created_by}}</td>
        <td>{{val.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>

                    
                    