<div class="top-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu">Test : By Peacock Infotech </li>
                <li class="topmenu company-name">Administrator (AMG)</li>
                <li class="topmenu active">Payment Include Exclude Master</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-menu module-menu">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li class="topmenu tooltip" (click)="onSubmit()"><img src="../../../assets/icons/save.png" alt="Save" class="save-icon"><span class="tooltiptext">SAVE</span></li>
                <li class="topmenu tooltip" (click)="downloadAsPDF()"><img src="../../../assets/icons/pdf.png" alt="PDF" class="pdf-icon"><span class="tooltiptext">PDF</span></li>
                <li class="topmenu tooltip" (click)="generateExcel()"><img src="../../../assets/icons/xls.png" alt="EXCEL" class="excel-icon"><span class="tooltiptext">EXCEL</span></li>
                <li class="topmenu tooltip" (click)="onReset()"><img src="../../../assets/icons/reset.png" alt="RESET" class="reset-icon"><span class="tooltiptext">RESET</span></li>
                <li class="topmenu tooltip"><img src="../../../assets/icons/exit.png" alt="EXIT" class="exit-icon" routerLink="/dashboard"><span class="tooltiptext">EXIT</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="companyForm">
              <div class="head-1">
                <div class="row">
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Payment: </label>
                      <div>
                        <select formControlName="pmt_code" id="" class="form-control">
                            <option [value]="val.pmt_name" *ngFor="let val of paymentModeData">{{val.pmt_name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Trans Type: </label>
                      <div>
                        <select formControlName="trans_type" id="" class="form-control" (change)="getTransaction($event)">
                            <option value="1">Category</option>
                            <option value="2">Sub-Category</option>
                            <option value="3">Manufacturer</option>
                            <option value="4">Brand</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="center-block">Transaction: </label>
                        <div>
                            <select formControlName="trans_code" id="" class="form-control">
                                <ng-container *ngIf="transactionType == 1">
                                  <option [value]="val.category_name" *ngFor="let val of transactionData">{{val.category_name}}</option>
                                </ng-container>
                                <ng-container *ngIf="transactionType == 2">
                                  <option [value]="val.sub_category_name" *ngFor="let val of transactionData">{{val.sub_category_name}}</option>
                                </ng-container>
                                <ng-container *ngIf="transactionType == 3">
                                  <option [value]="val.manufact_name" *ngFor="let val of transactionData">{{val.manufact_name}}</option>
                                </ng-container>
                                <ng-container *ngIf="transactionType == 4">
                                  <option [value]="val.brand_name" *ngFor="let val of transactionData">{{val.brand_name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                      <label class="center-block">Include / Exclude: </label>
                      <div>
                        <select formControlName="incl_excl" id="" class="form-control">
                            <option>Include</option>
                            <option>Exclude</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2 form-group">
                    </div>
                    <div class="col-sm-2 form-group">
                    </div>
                </div>
              </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable >
                    <thead>
                        <tr>
                          <th width="25">Action</th>
                          <th>Payment Mode</th>
                          <th>Trans Type</th>
                          <th>Trans Code</th>
                          <th>Status</th>
                          <th>Created By</th>
                          <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of data">
                            <td class="text-center">
                              <span class="tooltip"><img class="edit-icon" src="../../../assets/icons/edit.png" (click)="editCompanyList(val._id)"> 
                                <span class="tooltiptext">EDIT</span>
                              </span>  | 
                              <span class="tooltip"><img class="delete-icon" src="../../../assets/icons/delete.png" (click)="deleteCompanyList(val._id)"> 
                                <span class="tooltiptext">DELETE</span>
                              </span>
                            </td>
                            <td>{{val.pmt_code}}</td>
                            <td>{{val.trans_type}}</td>
                            <td>{{val.trans_code}}</td>
                            <td>{{val.status}}</td>
                            <td>{{val.created_by}}</td>
                            <td>{{val.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="display-view" style="display: none;">
  <table class="table" id="table" #pdfTable>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Page</th>
        <th>Parent Module</th>
        <th>Image</th>
        <th>Is Home</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of data">
        <td>{{val.module_code}}</td>
        <td>{{val.module_name}}</td>
        <td>{{val.module_slug}}</td>
        <td>{{val.parent_madule_code}}</td>
        <td>{{val.module_image}}</td>
        <td>{{val.is_home}}</td>
        <td>{{val.status}}</td>
        <td>{{val.created_by}}</td>
        <td>{{val.created_at}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>